<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftropeGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SoftropeGui.Properties.Settings>
            <setting name="LastImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSamplePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximumLoop" serializeAs="String">
                <value>60000</value>
            </setting>
        </SoftropeGui.Properties.Settings>
    </userSettings>
</configuration>